$color-white: #fff;
$color-black: #000;

$color-background-active: #9b2983;
$color-shadow: #ea68ff;
$primary-color: #4a1363;

$primary-color-palette: (
    100: #f6eef9,
    200: #9986a0,
    300: #ea68ff,
    600: #ce148a,
    700: #9b2983,
    800: #672b83,
    900: #4a1363,
);

$font-family-secondary: "Montserrat", sans-serif;

$font-size-default: 16px;